<div class ="m-4">
  <h3><strong>Add a movie to your <%= @list.name %> list</strong></h3>
</div>
<div class = "container ms-3">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
    <%= f.association :movie, prompt: "Select a movie", input_html: {data: {controller: "tom-select"}} %>
    <%= f.submit class: "btn btn-flat" %>
  <% end %>
  <div>
    <%= link_to "Back to list", lists_path, class:"btn btn-primary mt-5" %>
  </div>
</div>
